@import "./src/styles/variables";

.wrapper{
	padding-bottom: 4rem;
	@media (min-width: $md) {
		padding-bottom: 6rem;
	}
}
.formWrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 3rem;
	gap: 1rem;
	@media (min-width: $md) {
		flex-direction: row;
	}
	.type{
		min-width: 8rem;
	}
	.btn{
		max-height: 5.6rem;
	}
}
